<h1>New Power</h1>

<% if(flash[:errors] && flash[:errors].length > 0) %>
    <%= render "errors/errors" %>
<% end  %>

<%= render "form" %>

<br>
<br>
<%= link_to "Go Back To All Powers", powers_path %>
